<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cilicili.jz2.dao.HistoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cilicili.jz2.pojo.History">
        <id column="history_id" property="historyId" />
        <result column="user_id" property="userId" />
        <result column="video_id" property="videoId" />
        <result column="watch_time" property="watchTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        history_id, user_id, video_id, watch_time
    </sql>

</mapper>
